<div class="container">			
	<div class="page-header">
		<h1>
			Admin <small>{{selectedProject.name}}</small>
		</h1>
	</div>
	<navigation-admin></navigation-admin>

	<div style="padding:20px;">
		<div class="panel panel-default">
			<form name="editProject">
				<div class="panel-heading">
					<a href="#/projects" class="btn btn-default">Retour</a>
					<button ng-click="save()" type="button" class="btn btn-success">Sauvegarder</button>
				</div>
				<div class="panel-body">

					<div role="tabpanel">

						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a data-target="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
							<li role="presentation"><a data-target="#links" aria-controls="links" role="tab" data-toggle="tab">Links</a></li>
							<li role="presentation"><a data-target="#slides" aria-controls="slides" role="tab" data-toggle="tab">Slides</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="info">
								
								<div class="page-header">									
									<h1>Informations <small>du project</small></h1>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="input-group" style="width:90%;margin:20px auto;">
											<span class="input-group-addon">Nom</span>
											<input type="text" class="form-control" placeholder="Nom" ng-model="selectedProject.name" >
										</div>
										<div style="width:90%;margin:20px auto;">
											<textarea ui-tinymce="tinymceOptions" ng-model="selectedProject.description"></textarea>					
										</div>
									</div>
									<div class="col-md-6" style="padding:10px;">
										<div id="projectImageSlot" class="thumbnail" style="min-height:100px;">

											<div class="input-group" style="margin-bottom:5px;">
											    <span class="input-group-btn">
											        <alx-file-upload url="uploadedFile" on-upload-finished="setProjectImage()" style="padding:10px;"></alx-file-upload>
											    </span>
											    <input type="text" class="form-control" placeholder="url" ng-model="selectedProject.image" >
											</div>

											
											<img ng-show="selectedProject.image != null" ng-src="{{selectedProject.image}}"/>
											<img ng-show="selectedProject.image == null" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjYwLjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L2c+PC9zdmc+">
										</div>										
									</div>
								</div>												
								
							</div>
							<div role="tabpanel" class="tab-pane" id="links">
								<div class="page-header">
									<button type="button" ng-click="addLink()" class="btn btn-success" style="float:right;">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
									<h1>Liens <small>du project</small></h1>
								</div>

								<div class="row slideItem" ng-repeat="link in selectedProject.links">
									<div class="col-md-10"><p>{{link.link}}</p></div>
									<div class="col-md-2">
										<button type="button" ng-click="setSelectedLink(link)" class="btn btn-success" data-toggle="modal" data-target="#modalLink">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button type="button" ng-click="removeLink(link)" class="btn btn-danger">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</div>
								</div>

								<div class="modal fade" id="modalLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="myModalLabel">Edition lien {{selectedLink.link}}</h4>
											</div>
											<div class="modal-body">												
												<div class="input-group">
													<span class="input-group-addon">Lien</span>
													<input type="text" class="form-control" placeholder="Nom" ng-model="selectedLink.link" >
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>


							</div>
							<div role="tabpanel" class="tab-pane" id="slides">
								<div class="page-header">
									<button type="button" ng-click="addSlide()" class="btn btn-success" style="float:right;">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
									<h1>Slides <small>du project</small></h1>
								</div>						

								<div class="row slideItem" ng-repeat="slide in selectedProject.slides | orderBy:'order':false">
									<div class="col-md-2">
										<img ng-show="slide.miniature != null" ng-src="{{slide.miniature}}" style="width:128px;" >
										<div ng-show="slide.miniature == null" style="height:50px;width:128px;background:#eee;"></div>
									</div>
									<div class="col-md-8">

										<h4>{{slide.name}} ({{slide.order}})</h4>
										<div ng-bind-html="slide.description"></div>
									</div>
									<div class="col-md-1">
										<div style="width:60px;">
											<button type="button" ng-click="slideOrderUp(slide)" class="btn btn-default">
												<span class="glyphicon glyphicon glyphicon-arrow-up"></span>
											</button>
											<button type="button" ng-click="slideOrderDown(slide)" class="btn btn-default">
												<span class="glyphicon glyphicon glyphicon-arrow-down"></span>
											</button>
										</div>
									</div>
									<div class="col-md-1">
										<div style="width:60px;">
											<button type="button" ng-click="setSelectedSlide(slide)" class="btn btn-success" data-toggle="modal" data-target="#myModal">
												<span class="glyphicon glyphicon-pencil"></span>
											</button>
											<button type="button" ng-click="removeSlide(slide)" class="btn btn-danger">
												<span class="glyphicon glyphicon-trash"></span>
											</button>
										</div>
									</div>
								</div>				


								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="myModalLabel">Edition slide {{selectedSlide.name}}</h4>
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-md-4">
														<div id="projectImageSlot" class="thumbnail" style="min-height:100px;">

															<div class="input-group" style="margin-bottom:5px;">
															    <span class="input-group-btn">
															        <alx-file-upload url="uploadedFileMiniature" on-upload-finished="setSlideMiniature()" style="padding:10px;"></alx-file-upload>
															    </span>
															    <input type="text" class="form-control" placeholder="url" ng-model="selectedSlide.miniature" >
															</div>

															
															<img ng-show="selectedSlide.miniature != null" ng-src="{{selectedSlide.miniature}}"/>
															<img ng-show="selectedSlide.miniature == null" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjYwLjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L2c+PC9zdmc+">
														</div>
													</div>
													<div class="col-md-8">
														<div class="input-group">
															<span class="input-group-addon">Nom</span>
															<input type="text" class="form-control" placeholder="Nom" ng-model="selectedSlide.name" >
														</div>
														<div style="margin-top:20px;">
															<textarea ui-tinymce="tinymceOptions" ng-model="selectedSlide.description"></textarea>					
														</div>
													</div>										
												</div>
												<div class="row">
													<div class="col-md-12">
														<div id="projectImageSlot" class="thumbnail" style="min-height:100px;">

															<div class="input-group" style="margin-bottom:5px;">
															    <span class="input-group-btn">
															        <alx-file-upload url="uploadedFile" on-upload-finished="setSlideImage()" style="padding:10px;"></alx-file-upload>
															    </span>
															    <input type="text" class="form-control" placeholder="url" ng-model="selectedSlide.image" >
															</div>

															
															<img ng-show="selectedSlide.image != null" ng-src="{{selectedSlide.image}}"/>
															<img ng-show="selectedSlide.image == null" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjYwLjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L2c+PC9zdmc+">
														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>			
		</form>
	</div>		
</div>
</div>