<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>
				Admin <small>Gestion des projets</small>
			</h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Edit projet</h2>
			</div>
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-heading">Informations</div>
					<div class="panel-body">
						<form id="form_edit" role="form">
							<div class="form-group">
								<label for="name">Nom:</label> <input type="text" class="form-control" id="name" name="name" placeholder="Nom du projet"> <label for="name">Description:</label>
								<textarea name="description" id="description" class="form-control" placeholder="Description"></textarea>
								<label for="image">Image:</label> <input type="text" class="form-control" id="image" name="image" placeholder="Image de présentation du projet">
							</div>
						</form>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Liens</div>
					<div class="panel-body">
						<ul id="links" class="list-group">

						</ul>
					</div>
					<div class="panel-footer" style="text-align: center;">
						<button class="btn btn-primary btn-sml" data-toggle="modal" data-target="#addLink">Nouveau lien</button>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Slides</div>
					<div class="panel-body">
						<ul id="slides" class="list-group">
						</ul>
					</div>
					<div class="panel-footer" style="text-align: center;">
						<button style="margin: 10px auto;" class="btn btn-primary btn-sml" data-toggle="modal" data-target="#addSlide">Nouveau slide</button>
					</div>
				</div>
				<div class="panel-footer" style="text-align: center;">
					<button class="btn btn-default" onclick="saveProject();">Save</button>
				</div>
			</div>
		</div>
	</div>



	<!-- ADD LINK -->
	<div class="modal fade" id="addLink" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Nouveau lien</h4>
				</div>
				<div class="modal-body">
					<form id="form_add_link" role="form">
						<div class="form-group">
							<label for="name">Lien:</label> <input type="text" class="form-control" name="link" placeholder="Exemple: www.expemple.com">
						</div>
					</form>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-primary" onclick="addLink();">Créer</button>
				</div>
			</div>
		</div>
	</div>


	<!-- EDIT LINK -->
	<div class="modal fade" id="editLink" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Editer lien</h4>
				</div>
				<div class="modal-body">
					<form id="form_edit_link" role="form">
						<div class="form-group">
							<label for="link">Lien:</label> <input type="text" id="link_value" class="form-control" name="link">
						</div>
					</form>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-primary" onclick="saveLink();">Save</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- REMOVE SLIDE -->
	<div class="modal fade" id="removeLink" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Voulez-vous supprimer ce lien ?</h4>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-primary" onclick="removeLink();">Oui</button>
					<button type="button" class="btn btn-default" data-dismiss="removeLink">Annuler</button>
				</div>
			</div>
		</div>
	</div>
	


	<!-- ADD SLIDE -->
	<div class="modal fade" id="addSlide" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Nouveau slide</h4>
				</div>
				<div class="modal-body">
					<form id="form_add" role="form">
						<div class="form-group">
							<label for="name">Nom:</label> <input type="text" class="form-control" name="name" placeholder="Nom du slide">
						</div>
					</form>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-primary" onclick="addSlide();">Créer</button>
				</div>
			</div>
		</div>
	</div>



	<!-- EDIT SLIDE -->
	<div class="modal fade" id="editSlide" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Editer slide</h4>
				</div>
				<div class="modal-body">
					<form id="form_edit_slide" role="form">
						<div class="form-group">
							<label for="name">Nom:</label> <input type="text" class="form-control" id="slide_name" name="name" placeholder="Nom du slide"> <label for="description">Description:</label>
							<textarea class="form-control" id="slide_desc" name="description" placeholder="Description du slide"></textarea>
							<label for="image">Image(url):</label> <input type="text" class="form-control" id="slide_image" name="image" placeholder="Image url">
							<label for="miniature">Miniature(url):</label> <input type="text" class="form-control" id="slide_miniature" name="miniature" placeholder="Miniature url">
						</div>
					</form>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-primary" onclick="saveSlide();">Save</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- REMOVE SLIDE -->
	<div class="modal fade" id="removeSlide" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Voulez-vous supprimer ce slide ?</h4>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-primary" onclick="removeSlide();">Oui</button>
					<button type="button" class="btn btn-default" data-dismiss="removeSlide">Annuler</button>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script>
		var key = <%- JSON.stringify(project_key) %>;
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			getProject();
		});

		var slides;
		var links;

		function getProject() {
			$.get("/projects/get/" + key, function(project) {
				refreshProject(project);
				slides = project.slides;
				links = project.links;
			});
		}

		function refreshProject(project) {
			$('#form_edit').find("input[name='name']").val(project.name);
			$('#form_edit').find("textarea[name='description']").val(project.description);
			$('#form_edit').find("input[name='image']").val(project.image);
			refreshLinks(project);
			refreshSlides(project);
		}

		function refreshLinks(project) {
			$('#links').empty();
			links = project.links;
			$.each(project.links, function(i, link) {
				addLinkItem(i, link);
			});
		}

		function addLinkItem(i, link) {
			var $li = $('<li>', {
				class : 'list-group-item'
			});
			var $row = $('<div>', {
				class : 'row'
			});
			var $right = $('<div>', {
				class : 'col-md-8',
				text : link.link
			});
			var $left = $('<div>', {
				class : 'col-md-4'
			});
			$left.append($('<a>', {
				class : 'btn btn-info btn-sm',
				'data-toggle' : 'modal',
				'data-target' : '#editLink',
				onclick : 'setCurrentLink(' + i + ')',
				text : 'Editer'
			}));
			$left.append($('<a>', {
				class : 'btn btn-danger btn-sm',
				'style' : 'margin-right:10px;',
				'data-toggle' : 'modal',
				'data-target' : '#removeLink',
				onclick : 'setCurrentLink(' + i + ')',
				text : 'Supprimer'
			}));
			$row.append($right);
			$row.append($left);
			$li.append($row);
			$('#links').append($li);
		}

		function addLink() {
			$.post('/admin/projects/link/add/' + key, $('#form_add_link').serialize()).done(function(project) {
				refreshLinks(project);
			});
			$('#form_add_link input').val('');
			$('#addLink').modal('hide');
		}

		function refreshSlides(project) {
			$('#slides').empty();
			slides = project.slides;
			
			$.each(project.slides, function(i, slide) {
				addSlideItem(i, slide);
			});
		}

		function addSlide() {
			$.post('/admin/projects/slide/add/' + key, $('#form_add').serialize()).done(function(project) {
				refreshSlides(project);
			});
			$('#form_add input').val('');
			$('#addSlide').modal('hide');
		}		

		function addSlideItem(i, slide) {
			var $li = $('<li>', {
				class : 'list-group-item'
			});
			var $row = $('<div>', {
				class : 'row'
			});
			var $right = $('<div>', {
				class : 'col-md-8',
				text : slide.name
			});
			var $left = $('<div>', {
				class : 'col-md-4'
			});
			$left.append($('<a>', {
				class : 'btn btn-info btn-sm',
				'data-toggle' : 'modal',
				'data-target' : '#editSlide',
				onclick : 'setCurrentSlide(' + i + ')',
				text : 'Editer'
			}));
			$left.append($('<a>', {
				class : 'btn btn-danger btn-sm',
				'data-toggle' : 'modal',
				'data-target' : '#removeSlide',
				onclick : 'setCurrentSlide(' + i + ')',
				text : 'Supprimer'
			}));
			$row.append($right);
			$row.append($left);
			$li.append($row);
			$('#slides').append($li);
		}

		var curSlide;
		var curLink;

		function setCurrentSlide(i) {
			curSlide = slides[i];
			$('#slide_name').val(curSlide.name);
			$('#slide_desc').val(curSlide.description);
			$('#slide_image').val(curSlide.image);
			$('#slide_miniature').val(curSlide.miniature);			
		}
		
		function setCurrentLink(i) {
			curLink = links[i];
			console.log(curLink);
			$('#link_value').val(curLink.link);
		}

		function saveSlide() {
			$.post('/admin/projects/slide/edit/' + key + "/" + curSlide._id, $('#form_edit_slide').serialize()).done(function(project) {
				refreshSlides(project);
			});
			$('#form_edit_slide input').val('');
			$('#editSlide').modal('hide');
		}
		
		function removeSlide() {
			$.post('/admin/projects/slide/remove/' + key + "/" + curSlide._id).done(function(project) {
				refreshSlides(project);
			});
			$('#removeSlide').modal('hide');
		}
		
		function saveLink() {
			$.post('/admin/projects/link/edit/' + key + "/" + curLink._id, $('#form_edit_link').serialize()).done(function(project) {
				refreshLinks(project);
			});
			$('#form_edit_link input').val('');
			$('#editLink').modal('hide');
		}

		function removeLink() {
			$.post('/admin/projects/link/remove/' + key + "/" + curLink._id).done(function(project) {
				refreshLinks(project);
			});
			$('#removeLink').modal('hide');
		}
		
		function saveProject() {
			$.post('/admin/projects/save/' + key, $('#form_edit').serialize()).done(function(project) {
				refreshProject(project);
			});
		}
	</script>
</body>
</html>