<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Contact</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- include header.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Contact</h1>
				<div id="panel-info" class="panel panel-default">
					<div class="panel-body">
						<p>Pour tous renseignements, conseils, demande de devis et où que vous soyez : n'hésitez pas à me contacter via le formulaire ci-joint, mail ou téléphone, je vous répondrais dans les plus brefs délais.</p>
						<p>Monniaux G.Alexandre</p>
						<p>Montpellier(34)</p>
					</div>
				</div>
				<div>
					<p>
						<span class="icon-phone icon-contact"></span><strong>Tel: </strong><a href="tel:0673600875">06 73 60 08 75</a>
					</p>
					<p>
						<span class="icon-mail icon-contact"></span><strong>Mail: </strong><a href="mailto:web.invent@live.fr">web.invent@live.fr</a>
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div id="panel-form-contact" class="panel panel-default">
					<div class="panel-body">
						<h3>Formulaire de contact</h3>
						<form id="contact-form">
							<input type="text" class="form-control" placeholder="Nom" /> 
							<input type="text" class="form-control" placeholder="Prénom" /> 
							<input type="text" class="form-control" placeholder="Votre e-mail" />
							<textarea class="form-control" rows="6" placeholder="Message"></textarea>
							<button type="button" class="btn btn-default btn-lg">
								<span class="glyphicon glyphicon-chevron-right"></span><span>Envoyer</span>
							</button>
						</form>						
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include footer.ejs %>
</body>
</html>