<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Error</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
		<link rel='stylesheet' href='/stylesheets/admin.css' />
    </head>
	<body>
		<h1><%- message %></h1>
		<h2><%- error.status %></h2>
		<p><%- error.stack %></p>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	</body>
</html>
