
<div id="footer" class="container-fluid">
	<div class="col-md-4 alignCenter">
		<button id="btn-viadeo" type="button" class="btn btn-default btn-lg footer-button">
			<div class="btn-footer-wrapper left">
				<span class="icon-vimeo footer-icon"></span>
			</div>
			<div class="btn-footer-wrapper right">
				<div class="big-font">Visiter</div>
				<div class="small-font">mon viadeo</div>
			</div>

		</button>
	</div>
	<div class="col-md-4 alignCenter">
		<button id="btn-mail" type="button" class="btn btn-default btn-lg footer-button">
			<div class="btn-footer-wrapper left">
				<span class="glyphicon glyphicon-envelope footer-icon"></span>
			</div>
			<div class="btn-footer-wrapper right">
				<div class="big-font">Contacter</div>
				<div class="small-font">par mail</div>
			</div>				
		</button>
	</div>
	<div class="col-md-4 alignCenter">
		<button id="btn-facebook" type="button" class="btn btn-default btn-lg footer-button">
			<div class="btn-footer-wrapper left">
				<span class="icon-facebook footer-icon"></span>
			</div>
			<div class="btn-footer-wrapper right">
				<div class="big-font">Partager</div>
				<div class="small-font">sur facebook !</div>
			</div>
		</button>
	</div>
	<div class="col-md-4 footerSidesLinkColor alignCenter hMargin10">
		<a href="#">Mentions légales</a> - <a href="#">Crédits</a>
	</div>
	<div class="col-md-4 middle-row footerMiddleLinkColor alignCenter" hMargin10>
		TEL: <a href="tel:0673600875">06 73 60 08 75</a> | MAIL: <a href="mailto:gamdesign@gmail.com">gamdesign@gmail.com</a>
	</div>
	<div class="col-md-4 footerSidesLinkColor alignCenter hMargin10">Gamdesign.fr &copy;2014</div>
</div>

<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$(window).resize(function() {
		fixFooter();
	});
	fixFooter();
});
function fixFooter() {
	var $footer = $('#footer');
	var dh = $(window).height() - $footer.offset().top - $footer.height();		
	if (dh > 0) {
		$footer.css('margin-top', dh)
	} else {
		$footer.css('margin-top', '0')
	}
}
</script>