<div id="header">
	<div id="logo"></div>
	<ul id="header-nav" class="nav nav-pills center-block nav-justified">
		<li class="<% if (page == 'home') { %>active"<% } %>"><a href="/">Accueil</a></li>
		<li class="<% if (page == 'realisations') { %>active"<% } %>"><a href="/realisations">Réalisations</a></li>
		<li class="<% if (page == 'presentation') { %>active"<% } %>"><a href="/presentation">Présentation</a></li>
		<li class="<% if (page == 'contact') { %>active"<% } %>"><a href="/contact">Contact</a></li>
	</ul>
</div>