<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Accueil</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- include header.ejs %>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="/img/diapo-1.jpg" alt="First slide">
				<div class="carousel-caption"></div>
			</div>
			<div class="item">
				<img src="/img/diapo-1.jpg" alt="Second slide">
				<div class="carousel-caption"></div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
	
	<div id="home-top-row" class="row">
		<div id="top-left" class="col-md-5 home-block">
			<div id="top-title-1">
				<h1 class="home-block-title">Découvrez</h1>
			</div>
			<div id="top-title-2">
				<h1 class="home-block-subtitle">Mes réalisations</h1>
			</div>		
			<img id="plume" alt="" src="/img/plume01.png" />			
			<img id="play-bt" alt="" src="/img/play.png" />			
			
		</div>
		<div id="top-middle" class="col-md-2 home-block hidden-xs hidden-sm">
			<img class="triangle" src="/img/top-triangle.png" />		
			<img id="pap" alt="" src="/img/papillon2.png" />
		</div>
		<div id="top-right" class="col-md-5 home-block">	
			<img alt="" src="/img/qui-quoi-comment.jpg" />
			<img id="webCom" alt="" src="/img/web-com.png" />
		</div>
	</div>
	<div id="home-bot-row" class="row">
		<div id="bot-left" class="col-md-5 home-block"></div>
		<div id="bot-middle" class="col-md-2 home-block hidden-xs hidden-sm">
			<img class="triangle" src="/img/bot-triangle.png" />
		</div>
		<div id="bot-right" class="col-md-5 home-block">
			<h1 id="bot-title-1" class="home-block-title">Qui? Quoi? Comment?</h1>
			<h1 id="bot-title-2" class="home-block-subtitle">Présentation</h1>
			<img alt="" src="/img/play.png" />
		</div>
	</div>
	
	<%- include footer.ejs %>
</body>
</html>