<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Présentation</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- include header.ejs %>
	<div class="container">
		<h1>Présentation</h1>
		<div id="panel-info" class="panel panel-default">
			<div class="panel-body">
				<p>De formation CNAM (Conservatoire Nationnal des Arts & Métiers)</p>
				<p>Monniaux G.Alexandre</p>
				<p>Montpellier(34)</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>
					<span class="icon-phone icon-contact"></span><strong>Tel: </strong><a href="tel:0673600875">06 73 60 08 75</a>
				</p>
			</div>
			<div class="col-md-6">
				<p>
					<span class="icon-mail icon-contact"></span><strong>Mail: </strong><a href="mailto:web.invent@live.fr">web.invent@live.fr</a>
				</p>
			</div>
		</div>
	</div>

	<%- include footer.ejs %>
</body>
</html>