<!DOCTYPE html>
<html>
<%- include header.ejs %>
<body>
	<div id="main-container" class="container">		
		<h1 class="main-title">Présentation</h1>		
		<div id="contact-panel" >
			<div class="row">
				<div class="col-md-6 panelPresentation">
					<br/>
					<p>Bonjour et bienvenue sur mon site,</p>
					<p>De formation CNAM (Conservatoire Nationanal des Arts & Métiers) et autodidacte, enrichi d'une expérience de trois ans en agence de web marketing, je me consacre aujourd'hui à ma passion en freelance.</p>
					<p>Webdesigner/infographiste, je réalise tous vos supports de communication : site internet, appication mobile, logo, carte de visite, flyer, affiche, dépliant...</p>
					<p>Je collabore toujours avec les même développeurs, ce qui me permet d'avoir un processus de travail fluide et professionnel.</p>
					<p>Toujours à la pointe des technologies, je suis force de propositions et de conseils pour	porter et mener votre projet à la réussite.</p>
					<p>Quelque soit votre projet et où que vous soyez, n'hésitez pas à me contacter pour plus de renseignements, je me ferai un plaisir de vous éclairer.</p>
					<p>Amicalement,</p>
					<p>G-­Alexandre Monniaux</p>
				</div>
				<div class="col-md-6">
					<div style="height:400px;"></div>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>
					<span class="icon-phone icon-contact"></span><strong>Tel: </strong><a href="tel:0673600875">06 73 60 08 75</a>
				</p>
			</div>
			<div class="col-md-6">
				<p>
					<span class="icon-mail icon-contact"></span><strong>Mail: </strong><a href="mailto:web.invent@live.fr">web.invent@live.fr</a>
				</p>
			</div>
		</div>
	</div>

	<%- include footer.ejs %>
</body>
</html>