
@font-face
{
	font-family: Impact;
	src: url('/fonts/impact.ttf');
}

@font-face
{
	font-family: cooper;
	src: url('/fonts/cooperblack.ttf');
}

body {
	padding:50px 0 0 0;
	margin:0;
 	background-color:#e6e6e6;
  	font: 14px Arial, sans-serif;
}

p, div{
	font: 14px Arial, sans-serif;
}

a {
  color: #000;
  text-decoration: none!important;
}

h1{
	color:#ff4053;
	font-size: 2em;
	font-weight: bolder;
	font-family: Impact;
	font-size:35px;
}

.noMargin{
	margin:0;
}

.noPadding{
	padding:0;
}

.margin5{
	margin:5px;
}

.vMargin5{
	margin-left:5px;
	margin-right:5px;
}

.hMargin5{
	margin-top:5px;
	margin-bottom:5px;
}

.margin10{
	margin:10px;
}

.vMargin10{
	margin-left:10px;
	margin-right:10px;
}

.hMargin10{
	margin-top:10px;
	margin-bottom:10px;
}

.padding5{
	padding:5px;
}

.padding10{
	padding:10px;
}

.padding20{
	padding:20px;
}

.alignCenter{
	text-align:center;
}

#main-container{
	background: url('/img/bg-alpha.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
}F

/* ------ HEADER ----- */

#header{
	background-color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ff4053;
    background-color: transparent;
}

.header-link:hover a{
	color:#FF3030!important;
}

.navbar-brand{
	width:70px;
	background-image: url("/img/logo.png");
}

.navbar-brand:hover, .active.navbar-brand{
	background-image: url("/img/logo-on.png");
}

#header-facebook, #header-viadeo{
	color:transparent;
	background-repeat:no-repeat;
	background-position:center;
}

#header-facebook{
	background-image: url("/img/facebook.png");	
	border-left:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
}

#header-facebook:hover{
	background-image: url("/img/facebook-on.png");
	cursor:pointer;
}

#header-viadeo{
	background-image: url("/img/viadeo.png");
}

#header-viadeo:hover{
	background-image: url("/img/viadeo-on.png");
	cursor:pointer;	
}

#header-bt-contact{
	background-color:#ff4053;	
}

#header-bt-contact:hover{
	background-color:#fff;	
}

#header-bt-contact:hover a{
	cursor:pointer;
	background-color:#FF3030;
	border-radius: 0;
}

#header-bt-contact a{
	color:#fff;
}

#header-bt-contact span{
	margin-right:5px;
}


/* ------ FOOTER ----- */

#footer{
	background:#000;
	position:relative;
	z-index: 1000;
}

.footer-button{
	background-color:#e5283b;
	text-align:left;
	color:#fff;
	border:none;
	height:70px;
	width:210px;
}

.footer-button .footer-icon{
	font-size:50px;
	margin-right:10px;
	vertical-align: middle;
}

.footer-button .big-font{
	text-transform: uppercase;
	font-weight:bolder;
}

.footer-button .small-font{
	font-weight:normal;
	text-transform: none;
}

.footer-button .btn-footer-wrapper{
	display: inline-block;
	vertical-align: middle;
}

.footerLightGray a{
	color:#929292!important;
}

.footerDarckGray a{
	color:#494949;	
	text-decoration: underline;
}

#footerTelLink, #footerMailLink{
	color:#fff;
}

#footerTelLink{
	margin-right:15px;
}

#footerMailLink{
	margin-left:15px;
}

#footerTelLink span, #footerMailLink span{
	margin-right:5px;
	vertical-align: middle;
	font-size: 17px;
}

#footerTelLink:active, #footerMailLink:active{
	text-decoration: none;
}

#footerTelLink:hover, #footerMailLink:hover{
	text-decoration: none;
	color:#E5283B;
}

#footerLinkWrapper{
	border-bottom:1px solid #494949;
	padding-bottom: 10px;
}

#wrapperMention{
	margin-top:15px;
}

#wrapperMention a{
	color:#494949!important;
}


/* ------ HOME ----- */

.carousel-inner > .item > img { margin: 0 auto; }

.carousel-inner{
	background-image: url('/img/texture-diaporama.png');
	
}

.carousel-control.left{
	background-image: url('/img/texture-diaporama.png')!important;
	opacity:1;
}

.home-block{	
	height:400px;
}

#home-top-row{
	width:100%;
	margin:0;
	padding:0;
}

.red-block{
	background:url(http://api.thumbr.it/whitenoise-361x370.png?background=d42133ff&noise=700e1a&density=20&opacity=25);	
}

.white-block{
	background-color: #fff;
}

.middle-top-block{
	background: url('/img/top-triangle.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.middle-bot-block{
	background: url('/img/bot-triangle.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.always-visible{
	z-index: 1000;
	position: relative;
}

.top-title{
	white-space: nowrap;
}

#small-top, #small-bot{
	padding:30px;
}

.home-block-title, .home-block-subtitle{
	font-family: 'Impact';
	font-size: 40px;
	margin-top: 40px;
}

.home-block-title{
	color:#ff4053;
}

.home-block-subtitle{
	color:#fff;
}

.shadow-title{
	text-shadow: 0px 0px 3px #000;
}

.panelPresentation p{
	line-height:20px;
	text-align:justify;
}

/* ------ CONTACT ----- */

.redColor{
	color:#ff4053
}

#panel-info{
	background-color: #f7f7f7;
}

#panel-form-contact{
	border:0;
	margin-top:30px;
}

#contact-left{
	padding:55px 30px 30px 30px;
	color:#666;	
}

#contact-left p{
	line-height:25px;
}

#contact-right h2{
	font-family: cooper;
}

#panel-form-contact h3{
	color:#e7e7e7;	
}

#contact-form-wrapper{
	border-left:1px solid #ccc;
	padding-left:30px;
}

#contact-form-wrapper input{
	height: 40px;
}

#contact-form textarea{
	resize: none;
}

#contact-form input, #contact-form textarea{
	margin-bottom:15px;
}

#contact-right button, #contactForm button{
	background-color: #e5283b;
	border:none;
	color:#fff;
	font: 1.5em;
	font-weight: bolder;
}

#contact-right button .glyphicon{
	margin-right:10px;
}

.icon-contact{
	color:#e5283b;
	font-size: 2em;
	margin-right:10px;
	vertical-align: middle;
}

#contact-panel{
	background: rgba(255, 255, 255, 0.5);;
	margin:20px auto;
	box-shadow: 2px 2px 2px -2px #666;
	border-radius:5px;
	padding:20px;
}


/* ---------- REALISATIONS ----------- */

#project-list-container{
	background-color: #f7f7f7;
}

.project-item{
	margin:20px 0;
}

.project-item h2{
	font-family: 'Arial';
	font-weight:bold;
	font-size:20px;
	color:#11a3d4;
}

.project-item p{
	
}

.project-item:hover{
	cursor:pointer;
}

.project-image{
	width:100%;
	-moz-box-shadow: 2px 3px 5px 0px #656565;
	-webkit-box-shadow: 2px 3px 5px 0px #656565;
	-o-box-shadow: 2px 3px 5px 0px #656565;
	box-shadow: 2px 3px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=146, Strength=5);
}



/* ---------- REALISATION ----------- */

#panel-realisation{
	margin:20px 0;
	background-color: #f7f7f7;
}

.slide-list-item{
	min-height: 70px;
}

.slide-list-item:hover{
	cursor:pointer;
	background-color: #fff;	
}

.slide-list-item:hover .media-heading{
	font-weight: bolder;
}

.slide-list-image{
	width:100%;
}

.blue-link{
	color:#11a3d4;
}

.btn-next-rea{
	background-color:#e5283b;
	text-align:left;
	color:#fff;
	border-color: #e5283b;
}

/* ---------- ICON ----------- */
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-p5imhz');
	src:url('/fonts/icomoon.eot?#iefix-p5imhz') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-p5imhz') format('woff'),
		url('/fonts/icomoon.ttf?-p5imhz') format('truetype'),
		url('/fonts/icomoon.svg?-p5imhz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-vimeo:before {
	content: "\e601";
}



/************* ADMIN ************/
.admin-btn{
	margin-right:10px;
}