
@font-face
{
	font-family: Impact;
	src: url('/fonts/impact.ttf');
}

body {
  padding: 0;
  madding:0;
  background-color:#e6e6e6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000;
}

/* ------ HEADER ----- */

#header{
	/*background:url(http://api.thumbr.it/whitenoise-300x400.png?background=f9f9f9ff&noise=999999&density=10&opacity=22);*/
	background-color: #fff;
}

#header-nav{
	width:500px;
}

#header-nav li{
	height:50px;
	padding:7px;
}

#header-nav li a{
	color:#3a3a3a;
	font-family: 'Arial';
}

#header-nav li.active > a{
	background-color:transparent;
	color:#ff4053;
}

#header-nav li a:hover{
	background-color:transparent;
	color:#ff4053;
}

#logo{
	background-image: url("/img/logo.png");
	background-repeat:no-repeat;
	background-position:center;
	
}

#logo.active{
	background-image: url("/img/logo-on.png");
}

#logo:hover{
	background-color: transparent;
	background-image: url("/img/logo-on.png");
}

#header-right-nav{
	float:right;
}

#header-right-nav li{
	height:50px;
	padding:5px;
}

#header-right-nav li.active > a{
	background-color: transparent;	
}

#header-right-nav li a:hover{
	background-color:transparent;
}

#bt-fb{
	background-image: url("/img/facebook.png");
	background-repeat:no-repeat;
	background-position:center;
	border-left:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
}

#bt-fb:hover{
	background-image: url("/img/facebook-on.png");
	cursor:pointer;
}

#bt-vi{
	background-image: url("/img/viadeo.png");
	background-repeat:no-repeat;
	background-position:center;
}

#bt-vi:hover{
	background-image: url("/img/viadeo-on.png");
	cursor:pointer;	
}

#header-bt-contact{
	background-color:#ff4053;
}

#header-bt-contact:hover{
	background-color:#fff;
}

#header-bt-contact:hover a{
	color:#ff4053;
	cursor:pointer;
}

#header-bt-contact a{
	color:#fff;
}

#header-bt-contact span{
	margin-right:5px;
}


/* ------ FOOTER ----- */

#footer{
	min-height:160px;
	background:#000;	
}

#footer #top-row .col-md-4{
	height:130px;
	text-align:center;
}

#footer #bot-row .col-md-4{
	height:30px;	
	color:#494949;
	text-align:center;
	font-size: 1.4em;
}

.footer-button{
	background-color:#e5283b;
	text-align:left;
	color:#fff;
	border:none;
}

.footer-button .footer-icon{
	margin-right:10px;
	font-size: 1.5em;
	vertical-align: middle;
}

.footer-button .big-font{
	text-transform: uppercase;
	font-weight:bolder;
}

.footer-button .small-font{
	font-weight:normal;
	text-transform: none;
}

.footer-button .btn-footer-wrapper{
	display: inline-block;
	vertical-align: middle;
}

.footer-button .btn-footer-wrapper .left{
	width:60px;	
}

.footer-button .btn-footer-wrapper .right{
	width:100px;	
}

#btn-viadeo .footer-icon, #btn-facebook .footer-icon{
	font-size: 60px;
}

#btn-viadeo{
	height:80px;
	margin-top:25px;
}

#btn-mail{
	height:60px;
	margin-top:35px;
}

#btn-mail .footer-icon{
	font-size: 40px;
}

#btn-mail .big-font, #btn-mail .footer-icon{
	vertical-align: middle;
}

#btn-facebook{
	height:80px;
	margin-top:25px;
}

#footer #bot-row .middle-row{
	color:#929292!important;
}

#footer #bot-row .middle-row a{
	color:#929292!important;
}

#footer #bot-row .col-md-4 a{
	color:#494949;	
	text-decoration: underline;
}


/* ------ HOME ----- */

.carousel-inner > .item > img { margin: 0 auto; }

.carousel-inner{
	background-image: url('/img/texture-diaporama.png');
	
}

.carousel-control.left{
	background-image: url('/img/texture-diaporama.png')!important;
	opacity:1;
}

.home-block{	
	height:400px;
}

#home-top-row{
	width:100%;
	margin:0;
	padding:0;
}

#home-top-row #top-left{
	background:url(http://api.thumbr.it/whitenoise-361x370.png?background=d42133ff&noise=700e1a&density=20&opacity=25);	
}

#top-middle, #bot-middle{
	padding:0;
}

#top-middle .triangle, #bot-middle .triangle{
	display:block;
	width:100%;
	height:100%;
}

#home-top-row #top-right{
	background-color: #fff;
}

#home-bot-row{
	width:100%;
	margin:0;
	padding:0;
}

#home-bot-row #bot-left{
	background-color: #fff;
	background-image: url('/img/puzzle.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
}

#home-bot-row #bot-right{
	background:url(http://api.thumbr.it/whitenoise-361x370.png?background=d42133ff&noise=700e1a&density=20&opacity=25);
}

#bot-right .home-block-title, #bot-right .home-block-subtitle{
	margin-left:-200px;	
}

#bot-right img{
	margin-top:50px;
}

.home-block-title{
	font-family: 'Impact';
	color:#ff4053;
}

.home-block-subtitle{
	font-family: 'Impact';
	color:#fff;
}

/* ------ CONTACT ----- */

h1{
	color:#ff4053;
	font-size: 2em;
	font-weight: bolder;
}

#panel-info{
	background-color: #f7f7f7;
}

#panel-form-contact{
	background-color: #000;
	margin-top:30px;
}

#panel-form-contact h3{
	color:#e7e7e7;
	text-align: right;
}

#contact-form input, #contact-form textarea{
	margin-bottom:15px;
}

#contact-form button{
	background-color: #e5283b;
	border:none;
	color:#fff;
	font: 1.5em;
	font-weight: bolder;
}

#contact-form button .glyphicon{
	margin-right:10px;
}

.icon-contact{
	color:#e5283b;
	font-size: 2em;
	margin-right:10px;
	vertical-align: middle;
}




/* ---------- REALISATIONS ----------- */

#main-title{
	padding:20px;
	font-size:38px;
	font-family: Impact;
	text-transform: uppercase;
}

#project-list-container{
	background-color: #f7f7f7;
}

.project-item{
	margin:20px 0;
}

.project-item h2{
	font-family: 'Arial';
	font-weight:bold;
	font-size:20px;
	color:#11a3d4;
}

.project-item p{
	
}

.project-item:hover{
	cursor:pointer;
}

.project-image{
	width:100%;
	-moz-box-shadow: 2px 3px 5px 0px #656565;
	-webkit-box-shadow: 2px 3px 5px 0px #656565;
	-o-box-shadow: 2px 3px 5px 0px #656565;
	box-shadow: 2px 3px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=146, Strength=5);
}



/* ---------- REALISATION ----------- */

#panel-realisation{
	margin:20px 0;
	background-color: #f7f7f7;
}

.slide-list-item:hover{
	cursor:pointer;
	background-color: #fff;
}

.slide-list-item:hover .media-heading{
	font-weight: bolder;
}

.slide-list-image{
	width:100%;
}



/* ---------- ICON ----------- */
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-p5imhz');
	src:url('/fonts/icomoon.eot?#iefix-p5imhz') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-p5imhz') format('woff'),
		url('/fonts/icomoon.ttf?-p5imhz') format('truetype'),
		url('/fonts/icomoon.svg?-p5imhz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-vimeo:before {
	content: "\e601";
}



/************* ADMIN ************/
.admin-btn{
	margin-right:10px;
}